body {
  width: 60%;
  margin: auto;  
  font-family:sans-serif;
  font-size: 50;
  background: black;
  color: white;
}
.generica {
  font-size: 36px;
  color: white;
  background: #363636;

}
h1{
  font-size: 60px;
  color: red;
}

h4{
  font-size: 50px;
  color: rgb(49, 49, 192);
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}