body {
  width: 60%;
  margin: auto;  
  font-family:sans-serif;
  font-size: 50;
  background: black;
  color: white;
}
.generica {
  font-size: 20px;
  color: lightskyblue;
  background: black;

}
h1{
  font-size: 40px;
  color: red;
}

h4{
  font-size: 20px;
  color: lightskyblue;
font-family: inherit;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}